POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=sqlearning

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/sqlearning

BOT_TOKEN=ваш_токен_от_BotFather
BOT_USERNAME=имя_бота

AI_API_URL=https://api.vsellm.ru/v1/chat/completions
AI_API_KEY=ваш_ключ
AI_MODEL=openai/gpt-4.1-mini
AI_MAX_TOKENS=500
AI_TEMPERATURE=0.7

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672